.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #004080, #007BFF, #00aaff, #00d4ff, #007BFF, #004080); /* Adjusted blue gradient */
    background-size: 400% 400%;
    animation: gradientBG 30s linear infinite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to see the background animation */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 200px; /* Increased the size of the logo */
}

.welcome-quote {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-style: italic;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    color: #555;
    font-family: 'Roboto', sans-serif; /* Apply Google Font */
    font-size: 16px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-button {
    padding: 10px;
    background-color: #007BFF; /* Use a color from the logo */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3; /* Use a darker shade of the button color */
}

p {
    margin-top: 20px;
    color: #555;
    font-family: 'Roboto', sans-serif; /* Apply Google Font */
    font-size: 14px;
}

p a {
    color: #007BFF; /* Use the same color as the button for links */
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* Apply Google Font */
}

p a:hover {
    text-decoration: underline;
}