.create-quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo-container {
  margin-bottom: 20px;
  margin-top: 20px; /* Add top margin */
}

.logo {
  max-width: 100px;
  height: auto;
}

.create-quiz-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.create-quiz-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.create-quiz-form label {
  margin-bottom: 0.5em;
}

.create-quiz-form input,
.create-quiz-form select,
.create-quiz-form textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
}

.create-quiz-form input + label {
  margin-top: 1em;
}

.create-quiz-form button {
  margin-top: 1em;
}

.add-question-button,
.create-quiz-button {
  padding: 0.5em;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1em;
}

.add-question-button:hover,
.create-quiz-button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  padding: 0.5em;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
}

button[type="button"]:hover {
  background-color: #c82333;
}
